body {
    background-color: black;
    display: flex;
    height: 100dvh;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 560px;
    --blur: 2px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
.introduction{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 51rem;
    font-size: 1.3rem;
}
.introduction ul{
  overflow-y: scroll;
  padding-top: 20dvh;
  padding-bottom: 20dvh;
  max-height: 90dvh; /* Set the maximum height */
}

.introduction li{
  padding: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
  text-shadow: rgb(168, 167, 167) 0px 0px 10px;
}
