body {
    background-color: black;
    display: flex;
    max-height:100dvh;
    max-width:100dvw;
    align-items: center;
    justify-content: center;
    position: relative;
    --blur: 2px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
.introduction{
    padding-top: 20dvh;
    padding-bottom: 20dvh;
    overflow-y: scroll;
    max-height: 90dvh; /* Set the maximum height */
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.3rem;
   
}

.introduction li{
  padding: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
  text-shadow: rgb(168, 167, 167) 0px 0px 10px;
}
