body {
    background-color: black;
    display: flex;
    height: 100dvh;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 560px;
    --blur: 2px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
.introduction{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 51rem;
    font-size: 1.3rem;
}
.introduction ul{
  overflow-y: scroll;
}

.introduction li{
  padding: 0.5rem;
}