@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.body {
    background-color: transparent;
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: flex-start;
    position: relative;
    --blur: 2px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
.container{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width:68dvw;
    height: min-content;
}
.question{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    
    
}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h2 { 
	border-right: .1em solid white;
	width: calc(0.55em * 21); 
	width: 21ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(22, end),
	           blink-caret .4s step-end infinite alternate;
}

.question h2{
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    font-size: clamp(6dvw, 2.5dvh, 10dvh);
}
.question p{
    font-size: clamp(2dvw, 1.2dvh, 10dvh);
    margin-top: 0;
}

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.github,.linkedin{
    display: flex;
    align-items: center;
}


svg{
    padding-right: 0.5dvw;
}

.linkedinSVG{
    display: flex;
}

.links a{
    font-size: clamp(1.2dvw, 1.18dvh, 10dvh);
    font-family: cyrRoman, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: rgb(192, 192, 192);
    padding: 2dvw;
}

.links a:hover{
    color: rgb(212, 212, 212);
    text-shadow: rgb(212, 212, 212) 0px 0px 10px;
}

