@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body,
html {
  height: 100%;
}
.main{
    overflow: scroll;
}
.mycomponent {
    position: relative;
  }
  
.overlay-text {
    position: absolute;
    max-width: 80dvw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: transparent;
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
}

h1{
    font-family: 'Sora', sans-serif;
    font-size: clamp(2.5dvh,6dvw,6dvw);
    color: rgb(250, 231, 208);
    overflow: scroll;
}

div .first{
    padding-right: 17rem;
}
div .second{
    padding-right: 1rem;
}
div .third{
    padding-left: 17rem;
}